# Ignore node_modules in both frontend and backend and electron
frontend/node_modules/
frontend/dist/
backend/node_modules/
electron/node_modules/
electron/dist
electron/dist_electron
node_modules/

# Ignore environment variable files
frontend/.env
backend/.env

# Ignore build output
frontend/build/
backend/dist/

# Ignore logs
logs/
*.log

# Ignore OS specific files
.DS_Store
Thumbs.db

# Ignore temporary files
temp/
*.tmp
*.py
backend/package-lock.json
backend/package-lock.json
backend/package.json
backend/server.js
backend/package-lock.json
backend/package.json
backend/server.js
