@import './base.css';

@font-face {
  font-family: 'RetroQuill';
  src: url('./fonts/RetroQuill.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#app {
  width:100%;
  font-weight: normal;
  display:flex;
  min-height: 100vh;
}



a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {

}

@media (min-width: 1024px) {
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.vue-flow__edges path {
  stroke-width: 3;
  stroke: blue;
  stroke-dasharray: 10;
  animation: dash 5s linear;
}
.vue-flow__edge .vue-flow__edge-default{
  stroke-width: 3;
  stroke: black;

}

.vue-flow__nodesselection-rect{

  touch-action: none;
  z-index:1;
  background:rgba(138, 138, 255, 0.2);
  border:dashed gray 1px;
}


.vue-flow__selection{
  touch-action: none;
  z-index:1;
  background:rgba(138, 138, 255, 0.2);
  border:dashed gray 1px;
}